<h1 class="page-title">Dashboard</h1>
<div class="row">
  <div class="card text-center col-lg-4 offset-lg-2" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Cantidad de pesajes cerrados</h5>
      <h1 class="card-text text-center">{{ tickets.length }}</h1>
    </div>
  </div>
  <div class="card text-center col-lg-4" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Tonelaje Total</h5>
      <h1 class="card-text text-center">{{ tonelajeTotal }}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="barChartData" class="chart-wrapper col-lg-6">
    <div class="chart-wrapper">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
      >
      </canvas>
    </div>
  </div>
  <div *ngIf="lineChartData" class="chart-wrapper col-lg-6">
    <div class="chart-wrapper">
      <canvas
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="companyChartData" class="chart-wrapper col-lg-6">
    <div class="chart-wrapper">
      <canvas
        baseChart
        [datasets]="companyChartData"
        [labels]="companyChartLabels"
        [options]="companyChartOptions"
        [colors]="companyChartColors"
        [legend]="companyChartLegend"
        [chartType]="companyChartType"
        [plugins]="companyChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
