<div class="text-center">
    <h1>DUQUESA WEB</h1>
</div>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/img/user.svg" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
        <input type="text" id="email" class="fadeIn third" name="email" placeholder="email">
        <input type="submit" class="fadeIn fourth" value="Enviar">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        Ya tienes un usuario? <a class="underlineHover" [routerLink]="['/login']" >Ingresar</a>
      </div>
  
    </div>
  </div>