<h1>Tonelaje del día</h1>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Ticket</th>
            <th scope="col">Compañía</th>
            <th scope="col">Ficha</th>
            <th scope="col">Tara</th>
            <th scope="col">Peso Bruto</th>
            <th scope="col">Tonelaje</th>
            <th scope="col">Descuento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pesaje of pesajes">
            <td>{{ pesaje.ticket.fecha_emision | date:"shortDate" }}</td>
            <td>{{ pesaje.ticket.fecha_emision | date:"shortTime" }}</td>
            <td>{{ pesaje.ticket.numero }}</td>
            <td>{{ pesaje.ficha.compania.nombre }}</td>
            <td>{{ pesaje.ficha.codigo }}</td>
            <td>{{ pesaje.ficha.tara}}</td>
            <td>{{ pesaje.peso_bruto }}</td>
            <td>{{ pesaje.tonelaje }}</td>
            <td>{{ pesaje.descuento }}</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <div class="row">
          <div class="text-center">
            <button (click)="generarCierre()" class="btn btn-primary">Generar cierre</button>
          </div>
      </div>