<div>
<h1 class="page-title">Administrar fichas</h1>
  <form>
    <div class="row">
      <div class="col-lg-6">
        <label for="codigo_ficha" class="form-label">Codigo</label>
        <input type="text" id="codigo_ficha" class="form-control">
      </div>
      <div class="col-lg-6">
        <label for="compania" class="form-label">Compañía</label>
        <input type="text" id="compania" class="form-control">
      </div> 
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label for="placaFicha" class="form-label">Placa</label>
        <input type="text" id="placaFicha" class="form-control">
      </div>
      <div class="col-lg-6">
        <label for="exampleInputEmail1" class="form-label">Tara</label>
        <input type="text" class="form-control">
      </div> 
    </div>
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-success mt-2">Agregar</button>
        </div>
    </div>
  </form>
  <br/>
  <br/>
  <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead >
            <th>Codigo</th>
            <th>Compañía</th>
            <th>Placa</th>
            <th>Tara (kg)</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ADN Services</td>
                <td>L422142</td>
                <td>40</td>
            </tr>
        </tbody>
      </table>
  </div>
</div>