  <h1 class="page-title">Control de Pesaje</h1>
  <form>
    <div class="row">
      <div class="col-lg-6">
        <label for="ticket" class="form-label">Ticket</label>
        <input type="text" id="ticket" class="form-control">
      </div>
      <div class="col-lg-6">
        <label for="compania" class="form-label">Compañía</label>
        <input type="text" id="compania" class="form-control">
      </div> 
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label for="ficha" class="form-label">Ficha</label>
        <input type="text" id="ficha" class="form-control">
      </div>
      <div class="col-lg-6">
        <label for="tara" class="form-label">Tara</label>
        <input type="text" id="tara" class="form-control">
      </div> 
    </div>
    <div class="row">
      <div class="col-lg-6">
        <label for="peso_bruto" class="form-label">Peso Bruto</label>
        <input type="text" id="peso_bruto" class="form-control">
      </div>
      <div class="col-lg-6">
        <label for="tonelaje" class="form-label">Tonelaje</label>
        <input type="text" id="tonelaje" class="form-control">
      </div> 
    </div>
    
  </form>
  <br />
    <button  class="btn btn-primary mr-2">Guardar</button>
    <button  class="btn btn-warning mr-2">Limpiar</button>  
  <br />
  <br />
  <button class="semaforo btn btn-circle btn-success disabled"></button>
  <button class="semaforo btn btn-circle btn-warning disabled"></button>
  <button class="semaforo btn btn-circle btn-danger disabled"></button>